<style>
    b{
        color: red;
    }
    body{
        background-color: black;
        color: white;
    }
</style>

<body>
 <h1>RELATIONS IN DJANGO </h1>
<H3>
    <b>ONE TO ONE</b> - ONE OBJECT THAT CAN HAVE ONE RELATION TO ANOTHER TABLE , <BR>AND SECOND TABLE CAN HAVE ONLY ONE RELATION 
    TO FIRST TABLE <BR> PERSON--> ADDRESS
</H3>

<H3>
    <b>ONE TO MANY</b> - ONE OBJECT FROM THE FIRST TABLE CAN HAVE MANY RELATION TO SECOND TABLE,<BR>
    SECOND TABLE OBJECT HAVE ONLY ONE RELATION TO THE FIRST TABLE <BR>
    
    CITY--> PERSON ADDRESS
</H3>


<H3>
    <b>MANY TO MANY</b> - ONE OBJECT FROM THE FIRST TABLE WHICH CAN HAVE MULTIPLE RELATION TO SECOND TABLE <BR>
                   ONE OBJECT FROM THE SECOND TABLE CAN HAVE MULTIPLE RELATION WITH FIRST TABLE OBJECT <BR>
        
        INTREST ---> PERSON 
        
</H3>   
</body>

